.App {
  text-align: center;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #0e1117;
  padding: 5vh;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.header {
  min-height: 1vh;
}

.btn {
  background: #0e1117;
  border: 0px;
  border-bottom: 1px solid hsl(200, 100%, 50%);
  color: hsl(200, 100%, 50%);
  padding: 0.25em 0.5em;
  margin: 10px;
  font-size: calc(8px + 2vmin);
  min-width: 25vh;
  min-height: 10vh;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  background: hsl(200, 100%, 50%, 0.2);
}

.options {
  display: flex;
  flex-direction: row;
}

.btn.icon {
  min-width: 0vh;
  min-height: 0vh;
  font-size: calc(4px + 2vmin);
}

.btn.selected {
  border-bottom: 3px solid hsl(200, 100%, 50%);
}

.content {
  padding: 3vh;
  text-align: left;
}

.title {
  /* text-align: center; */
  /* background-color: green; */
}